@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: black;
}

/* parent container */

.parent-container {
  display: grid;
  place-items: center;
  width: 100vw;
  margin-top: 12vh;
  padding: 1rem;
}

/* general element styles */

input {
  padding: 0 0.2rem;
}

.row {
  display: flex;
  gap: 0.4rem;
}

/* card styles */

.card {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  /*align-items: center;*/
  padding: 1rem;
  /*width: clamp(20rem, , 32rem);*/
  width: max-content;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: inset 0 1rem 2rem rgba(255, 255, 255, 0.5),
    0 0.3rem 2rem rgba(255, 255, 255, 0.5);
}

.card-heading {
  color: #808080;
  font-family: "Work Sans", sans-serif;
  font-size: 2rem;
  font-weight: bold !important;
  text-align: center;
}

/* the formfield set */

.fieldset-grid {
  border: none;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-areas: "left right";
  padding: 1rem;
  gap: 1rem;
}

.left-column {
  grid-area: left;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.4rem;
}

.right-column {
  grid-area: right;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

/* column children styles */

#years {
  width: 2rem;
}

#principal {
  padding: 0.1rem 0.2rem;
}

.compute-btn {
  border-radius: 0.2rem;
  padding: 0.1rem 0.2rem;
  cursor: pointer;
}

/* result container styles */

.result-info-container {
  display: none;
  padding-left: 1.8rem;
  padding-bottom: 2rem;
}

/* copyright row styles */

.full-width {
  width: clamp(20rem, 100%, 24rem);
}

.copyright-text {
  text-align: start;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
  .card {
    padding: 2.4rem;
  }
}
